.go-to-top {
  padding: 16px 0 32px;
  background-color: #fff;
  text-align: center;

  .link {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid $booking-color-border101;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: $booking-color-text4;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
    text-transform: uppercase;
  }

  go
}
